<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <div style="background-image: url(./assets/img/h_bar_r.jpg); height: 50px;">

    </div>
  </header>
  <section>
    <div class="text-container">
      Este documento es resultado de las reflexiones de la comunidad participante del IV Congreso de Editoras y Editores
      Redalyc y Segundo Encuentro de AmeliCA, que se celebraron durante la Cumbre Global sobre Acceso Abierto Diamante
      del 23 al 27 de Octubre de 2023 en Toluca, México. Le invitamos a leerlo, citarlo, difundirlo y firmarlo en la
      parte inferior.
    </div>
  </section>
  <section class="md-section">
    <div class="sub-container">
      <div class="img" style="text-align: center;">
        <h1>Manifiesto sobre la Ciencia como Bien Público Global: Acceso Abierto No Comercial</h1>
        <p>Toluca, México</p>
      </div>
      <div>
        <p>
          <em>“Una vieja tradición y una nueva tecnología convergen para hacer posible un bien público sin precedente.
            La
            vieja tradición es el deseo de los científicos y académicos por publicar los frutos de su investigación en
            revistas académicas sin tener que pagar por ello, tan solo por el gusto de indagar y por el
            conocimiento”</em>
        </p>
        <p style="text-align: right;">
          (BOAI, 2002).
        </p>
        <br>
        <br>
        <p>
          Con el advenimiento de la tecnología aparecen nuevas formas de publicar y acceder al conocimiento científico.
          A veinte años de las Declaraciones de Budapest (2002), Bethesda (2003) y Berlín (2003), <b>los objetivos
            iniciales de apertura se han visto desviados una y otra vez por intereses comerciales</b> y se han
          identificado
          problemas sistémicos inherentes a varios modelos propuestos para lograr el Acceso Abierto. Es menester
          analizar las diversas rutas para lograr el Acceso Abierto a partir de los valores de equidad, calidad,
          sostenibilidad y usabilidad en aras de lograr la ciencia como una conversación global.
        </p>
        <p>
          El Acceso Abierto comercial sustituye las cuotas de suscripción a revistas científicas por cargos de
          procesamiento de artículos a las persona autoras (<b>APC</b>, siglas del término en inglés article processing
          charges), <b>una distorsión del movimiento original</b>. De igual forma, han surgido los acuerdos
          “transformativos”
          que, en la práctica, se han convertido en la institucionalización de un modelo proveniente del sector
          comercial para privatizar un bien público: el conocimiento.
        </p>
        <p>
          Así, el Acceso Abierto se ha visto obligado a adoptar nuevas denominaciones para distinguir las soluciones
          comerciales de las no comerciales, cercando el objetivo original del movimiento. Es así como surge el
          <b>Acceso
            Abierto Diamante</b>.
        </p>
        <p>
          Las revistas científicas dejaron de ser un vehículo de comunicación para ser un producto de mercado, primero
          con cuotas por leer y posteriormente con cuotas por publicar. Uno de los problemas de la mercantilización es
          la consecuente exclusión que genera, rompiendo así con una de las condiciones esenciales de los bienes
          públicos: <b>la no exclusión</b>. Por el contrario, el avance de las tecnologías y el modelo de sostenibilidad
          no
          comercial han permitido el consumo no rival del conocimiento científico, segunda condición esencial de los
          bienes públicos: <b>la no rivalidad</b>.
        </p>
        <p>
          El problema es <b>retroalimentado</b> por los sistemas de evaluación de la actividad científica, construidos
          alrededor de los canales comerciales de generación, circulación, consumo y valoración del conocimiento
          científico. Lo que genera un círculo vicioso imposible de romper desde la lógica del mercado y que pone en
          riesgo, no solamente el desarrollo científico sino también la construcción y preservación públicas de la
          memoria científica colectiva.
        </p>
        <p>
          El Acceso Abierto vía Diamante, entendido como la publicación sin cuotas por leer ni por publicar creada y
          mantenida por organismos académicos y científicos; así como el Acceso Abierto vía verde, son referentes de
          <b>modelos no comerciales compatibles con el paradigma de los bienes públicos</b>, y son inclusivos por
          definición.
        </p>
        <p>
          Los principios que rigen este manifiesto son los siguientes:
        </p>
        <ol>
          <li>
            <p class="title-list">Derecho universal</p>
            <p>La ciencia es un bien público global y el acceso a ella es un derecho universal.</p>
          </li>
          <li>
            <p class="title-list">Equidad, diversidad y multilingüismo</p>
            <p>La ciencia es inclusiva, multilingüe, accesible, reutilizable y colaborativa.</p>
          </li>
          <li>
            <p class="title-list">Propiedad de la academia y patrimonio de la humanidad</p>
            <p>La producción científica es propiedad de la academia y se debe al desarrollo y progreso de la sociedad
              como patrimonio de la humanidad.</p>
          </li>
          <li>
            <p class="title-list">Reconocimiento y valoración</p>
            <p>Las entidades de acreditación, investigación y financiación deben reconocer, evaluar e incentivar los
              medios no comerciales de producción y circulación del conocimiento científico.</p>
          </li>
          <li>
            <p class="title-list">Colaboración</p>
            <p>La interacción y colaboración entre los agentes no comerciales, publicaciones científicas e
              infraestructuras abiertas es necesaria para la construcción de ecosistemas de bienes públicos.</p>
          </li>
        </ol>
        <p>
          Es imperante declarar el Acceso Abierto No Comercial, a través de sus vías Diamante y Verde, propiedad de la
          academia una ruta para llegar a la Ciencia como Bien Público Global. Un enfoque históricamente dominante en
          América Latina, el Caribe y muchos otros países de otras regiones.
        </p>
        <p>
          Asimismo, la experiencia y retos sistémicos nos invitan a construir colectivamente un ecosistema científico
          que otorgue a todas las personas la oportunidad de participar. Así también, la comunidad investigadora debe
          ser reconocida por su esfuerzo por preservar un modelo de comunicación en beneficio de sus sociedades y que dé
          pauta a procesos y condiciones que permitan controlar que el conocimiento regrese a quien se debe, lo produce
          y lo sostiene con fondos públicos.
        </p>
        <p>
          En línea con el avance logrado en el reconocimiento de las contribuciones del ramo no comercial para el Acceso
          Abierto y la Ciencia Abierta manifestado previamente en esfuerzos colectivos internacionales como en las
          Recomendaciones sobre la Ciencia Abierta de la UNESCO y en los señalamientos de la Iniciativa de Acceso
          Abierto de Budapest (BOAI) en su vigésimo aniversario, se hace un llamado a la acción dirigido a
          instituciones, gobiernos, comunidad investigadora y a todos las personas actoras para fortalecer, reconocer,
          sostener y avanzar hacia una Ciencia como Bien Público Global.
        </p>
        <div style="text-align: center; margin: 50px 0px;">
          <a class="btn-pdf"
            href="https://globaldiamantoa.org/wp-content/uploads/2023/10/manifiestoCienciaBien-Publico.pdf"
            download="">DESCARGAR PDF</a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="form">
      <div style="width: 50%; background-color: #f5f5f5; display: flex; justify-content: center; align-items: center;">
        <img style="width: 30%;" src="./assets/img/img_OAD.png" alt="">
      </div>
      <div style="width: 50%; background-color: gainsboro;">
        <app-formulario></app-formulario>
      </div>

    </div>
  </section>
  <footer>
    <div style="display: flex; justify-content: center; align-items: center; background-color: #FB3700;">
      <img style="width: 600px;" src="./assets/img/CGAAD_logo.jpg" alt="">
    </div>
    <div style="display: flex; justify-content: center; align-items: center; padding: 30px;">
      <img style="width: 500px;" src="./assets/img/CGAAD_eventos.png" alt="">
    </div>
  </footer>
  <router-outlet></router-outlet>
</body>

</html>