<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>

  </header>
  <section>
    <div class="text-container">
      
    </div>
  </section>
  <section>
    <div class="sub-container">
      <div class="img">
        <p>hola</p>
      </div>
      <div class="form">
        <app-formulario></app-formulario>
      </div>
    </div>
  </section>
  <section>
    <div class="franja-naranja">

    </div>
  </section>
  <footer>
    <div class="logos">

    </div>
  </footer>
 <router-outlet></router-outlet>
</body>
</html>
